.heading {
  font-family: "Montserrat", sans-serif;
}
.welcomeParent {
  display: flex;
  justify-content: center;
}

.para {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.faq {
  margin-left: 325px;
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
}
